# Ignore environment variables. See README.
.Renviron

# Ignore other local files.
.local
*.Rhistory
*.Rproj
*.Rproj.user
*.RData

# Ignore cached objects.
.cache
.cache.log

# Ignore by-product files.
# These can be regenerated anytime.
www/images/img*.png
www/assets/news.html
www/assets/translations.html
